{% extends "base.html" %}
{% block title %}display{% endblock title %}
{% block body %}
<table border="1">
    <thead>
        <tr>
         <th>sno</th>
         <th>taskname</th>
         <th>due</th>
         <th>status</th>
         <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for list in listitem  %}
        <tr> <td>{{forloop.counter}}</td>
            <td>{{list.taskname}}</td>
            <td>{{list.due}}</td>
            <td>{{list.status}}</td>
            <td>
                {% comment %} <a href="{% url "edit" listitem.id %}"> {% endcomment %}
                    <button>EDIT</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>
<button><a href="{% url "delete" %}">Delete</a></button>
{% endblock body %}