{% extends "base.html" %}
{% block title %}
{% endblock title %}
{% block body %}
<h1 class="text-primary">SIGN IN</h1>
<hr>
<form method='POST'>
    {% csrf_token %}
    <label for="username">USERNAME</label>
    <input type="text" id="username" name="username">
    <label for="password">PASSWORD</label>
    <input type="password" id="password" name="password">
    <button class="btn btn-primary">Sign in</button>
</form> 
<br>
<a href="{% url "signup" %}">
    <button class="btn btn-info">SIGNUP</button>
</a>
{% endblock body %}